@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

section

{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo

{
    position: relative;
    max-width: 80px;
}

header url 

{
    position: relative;
    display: flex;
}

header ul li 

{
    list-style: none;
}

header ul li a 

{
    display: inline;
    color: black;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 100px;
}

.conteudo

{

    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteudo .caixa_de_texto 

{

    position: relative;
    max-width: 600px;

}

.conteudo .caixa_de_texto h2

{

    color: 333px;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 50px;
}

.conteudo .caixa_de_texto h2 span

{

    color: rgb(56, 37, 37);
    font-size: 1.2em;
    font-weight: 900px;
}

.conteudo .caixa_de_texto p

{

    color: black;

}

.conteudo .caixa_de_texto a 

{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(82, 64, 64);
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}

.conteudo .imagem_da_camera1 

{

    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}

.conteudo .imagem_da_camera1 img 

{

    max-width: 340px;
}
